DearPyGui-DragAndDrop
dearpygui~=2.0.0
annotated-types~=0.7.0
numpy~=2.2.5
pillow~=11.2.1
sqlmodel~=0.0.24
alembic
psycopg2-binary
python-dotenv~=1.1.0
bcrypt
dearpygui
dotenv~=0.9.9
pandas~=2.2.3
torch~=2.7.0
pywin32~=310
scikit-learn~=1.6.1